{{ define "main" }}
<h1>{{ .Title }}</h1>

{{ .Params.description }}

<div class="tags">
    {{ range (.GetTerms "tags") }}
        <div class="tag"><a href="{{ .Permalink }}" rel="tag">{{ .LinkTitle }}</a></div>
   {{ end }}
   {{ range (.GetTerms "cantons") }}
   <div class="tag"><a href="{{ .Permalink }}" rel="tag">{{ .LinkTitle }}</a></div>
{{ end }}
</div>

{{ if .Params.avis}}
    <p>Avis d'internautes (envoyez le vôtre à nicolasfriedli@protonmail.ch):</p>
    <div class="aviss">    
        {{ range .Params.avis | shuffle }}
        <div class="avis">
            {{ . }}
        </div>
        {{ end }}
    </div>
{{ else }}
    <p>Pas encore d'avis pour ce site. Le vôtre est bienvenu. Envoyez-le à nicolasfriedli@protonmail.ch.</p>
{{ end }}

<a class=url href="{{ .Params.Site }}" rel="noopener noreferrer" target="_blank">{{ .Params.Site | replaceRE "http[s]?://" "" | replaceRE "/$" "" }}</a>
{{ with .Params.rss }}
<a class=url href="{{ . }}"><svg xmlns="http://www.w3.org/2000/svg"
    id="RSSicon"
    viewBox="0 0 8 8" width="48" height="48">

 <title>Flux RSS</title>

 <style type="text/css">
   .button {stroke: none; fill: orange;}
   .symbol {stroke: none; fill: white;}
 </style>

 <rect   class="button" width="8" height="8" rx="1.5" />
 <circle class="symbol" cx="2" cy="6" r="1" />
 <path   class="symbol" d="m 1,4 a 3,3 0 0 1 3,3 h 1 a 4,4 0 0 0 -4,-4 z" />
 <path   class="symbol" d="m 1,2 a 5,5 0 0 1 5,5 h 1 a 6,6 0 0 0 -6,-6 z" />

</svg></a>
{{ end }}

{{ $related := .Site.RegularPages.Related . | first 5 }}
{{ with $related }}
<p>Ces sites pourraient aussi vous intéresser:</p>
<div class="sites">
	{{ range . }}
    <div class="site">
        <h2><a href="{{ .RelPermalink }}">{{ .Title }}</a></h2>
    {{ .Params.description }} </div>
	{{ end }}
</div>
{{ end }}

{{ .Content }}
{{ end }}