{{ define "title" }}
{{ .Site.Title }} &bull; {{ .Site.Params.description }}
{{ end }}

{{ define "main" }}
<h1>{{ .Title }}</h1>

{{ .Params.description }}

<div class="tags">
        {{ range .Site.Taxonomies.tags }}
                <div class="tag" rel="tag"><a href="{{ .Page.Permalink }}">{{ .Page.Title }}</a></div>
        {{ end }}

    {{ range .Site.Taxonomies.cantons }}
            <div class="tag" rel="tag"><a href="{{ .Page.Permalink }}">{{ .Page.Title }}</a></div>
    {{ end }}
</div>

{{ .Content }}
{{ end }}